<ion-view view-title="About User">
    <ion-content class="header-top-margin">
<!--         <div class="list card">
            <div class="item item-body">
                <span class="span-select">{{otherProfile[1]}}</span>
                <span class="card-heading">
      of 
    </span>
                <span class="span-select">{{otherProfile[6]}}yrs</span>
                <span class="card-heading">
      from 
    </span>
                <span class="span-select">{{otherProfile[2]}}, {{otherProfile[3]}}</span> and
                <span class="span-select" ng-if="otherProfile[4] == 'f'">She</span><span class="span-select" ng-if="otherProfile[4] == 'm'">He</span> is Intrested in <span class="span-select" ng-if="otherProfile[5] == 'e'">Everyone</span><span class="span-select" ng-if="otherProfile[5] == 'm'">Men</span><span class="span-select" ng-if="otherProfile[5] == 'f'">Women</span>
                </br>
                <span class="card-heading" ng-if="otherProfile[9].length">
      About
    </span>
                <span class="span-select">{{otherProfile[9]}}</span>
                <p>
                    {{otherProfile[9]}}
                </p>
                <p>
                    <a class="subdued">1 Like</a>
                    <a class="subdued">5 Comments</a>
                </p>
            </div>
        </div> -->


    <ion-list>
            
            <ion-item class="animate-fade-slide-in ink" ng-class="itemWallClass(otherProfile)"  >
                <div class="item item-body wall-status-text">
                     <span class="span-select">{{otherProfile[1]}}</span>
                <span class="card-heading">
      of 
    </span>
                <span class="span-select">{{otherProfile[6]}}yrs</span>
                <span class="card-heading">
      from 
    </span>
                <span class="span-select">{{otherProfile[2]}}, {{otherProfile[3]}}</span> <span class="card-heading">and</span>
                <span class="span-select" ng-if="otherProfile[4] == 'f'">She</span><span class="span-select" ng-if="otherProfile[4] == 'm'">He</span> <span class="card-heading">is Intrested in</span> <span class="span-select" ng-if="otherProfile[5] == 'e'">Everyone</span><span class="span-select" ng-if="otherProfile[5] == 'm'">Men</span><span class="span-select" ng-if="otherProfile[5] == 'f'">Women</span>
                </br>
                <span class="card-heading" ng-if="otherProfile[9].length">
      About
    </span>
                <span class="span-select">{{otherProfile[9]}}</span>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-top">
                    
                    <a class="tab-item ink" ng-click="data.openChat(otherProfile[0])" >
                        <i class="icon ion-chatbubble-working"></i>Message
                    </a>
                   <!--  <a class="tab-item ink" ng-click="data.setOtherUser(w[1]);data.goto('/app/aboutuser');" >
                        <i class="icon ion-ios-information"></i>Profile
                    </a> -->
                </div>
            </ion-item>




    <ion-list>
            
            <ion-item class="animate-fade-slide-in ink" ng-class="itemWallClass(w)"  ng-repeat="w in allPostedInfoStatus">
                <div class="item item-body">
                    <div class="wall-status-text">{{::w[5]}}</div> 
                    <p>
<!--                         <a class="subdued 1" style="display: inline-block;"><i class="icon ion-female" ng-if="data.returnProfile(w).gender == 'Female'"></i><i class="icon ion-male" ng-if="data.returnProfile(w).gender == 'Male'"></i> {{::w[2]}} of {{::w[10]}}</a>
                        <a class="subdued 2" style="display: inline-block;"><i class="icon ion-ios-location"></i> {{::w[4]}}, {{::w[3]}}</a> -->
                        <a class="subdued 3"  style="display: inline-block;"><i class="icon ion-android-time"></i>
                        <span class="timeago" title="{{::w[9]}}">{{::w[9]}}</span></a>
                    </p>
                </div>
<!--                 <div  ng-if="w[1] != data.myid" class="item tabs tabs-secondary tabs-icon-top">
                    
                    <a class="tab-item ink" ng-click="data.openChat(w[0])" >
                        <i class="icon ion-chatbubble-working"></i>Message
                    </a>
                    <a class="tab-item ink" ng-click="data.setOtherUser(w[1]);data.goto('/app/aboutuser');" >
                        <i class="icon ion-ios-information"></i>Profile
                    </a>
                </div> -->
            </ion-item>

  </ion-list>




    </ion-content>
</ion-view>
