<ion-modal-view>
    <ion-header-bar class=" bar-calm">
      <button class="button button-clear button-primary" ng-click="modalChat.hide()">Back</button>
      <h1 class="title">Chat Window</h1>
      <button class="button button-clear button-primary" ng-click="modalChat.hide()">Close</button>
    </ion-header-bar>
  
         <ion-pane "class="messaging-view">


            <ion-content  delegate-handle="chatMainScroll"  class="content-stable"
                         on-swipe-left="hideTime = false"
                         on-swipe-right="hideTime = true">

              <div ng-repeat="message in messages"
                   ng-class="{other: message.other,mine: !message.other}"
                   class="messages">

                <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
                  <span class="msgtxt">{{ message.text }}<br><span class="timeago" title="{{message.time}}" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</span></span>

                </div>

                


              </div>

            </ion-content>

            <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" style="background-color: black">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
              </label>
              <button class="button button-clear ion-android-send" ng-click="sendMessage()">
              </button>
            </ion-footer-bar>
          </ion-pane>
  </ion-modal-view>

<!-- 

<ion-view view-title="Chat Window">
    <ion-content ng-class="{expanded:$scope.isExpanded}">

            <ion-pane "class="messaging-view">


            <ion-content class="content-stable"
                         on-swipe-left="hideTime = false"
                         on-swipe-right="hideTime = true">

              <div ng-repeat="message in messages"
                   ng-class="{other: message.other,mine: !message.other}"
                   class="messages">

                <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
                  <span class="msgtxt">{{ message.text }}<br><span class="timeago" title="{{message.time}}" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</span></span>

                </div>

                


              </div>

            </ion-content>

            <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" style="background-color: black">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
              </label>
              <button class="button button-clear ion-android-send" ng-click="sendMessage()">
              </button>
            </ion-footer-bar>
          </ion-pane>

    </ion-content>
</ion-view>
 -->