<ion-view view-title="Wall">
    <ion-content ng-class="{expanded:$scope.isExpanded}"  >
<!--         <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div> -->
<!--         <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div> -->
        <!-- <h4 class="content padding double-padding-x">Following</h4> -->
       <!--  <ion-scroll class="list loadPostPrevFrom" data-lastPostId="0"  direction="y" style="width: 100%; height: 100%" >
                         -->
            <div class="list card stable-bg" ng-repeat="w in data.wallList">
                <div class="item item-body">
                    {{w[5]}} 
                    <p>
                        <a class="subdued 1" style="display: inline-block;"><i class="icon ion-female" ng-if="data.returnProfile(w).gender == 'Female'"></i><i class="icon ion-male" ng-if="data.returnProfile(w).gender == 'Male'"></i> {{w[2]}} of {{w[10]}}</a>
                        <a class="subdued 2" style="display: inline-block;"><i class="icon ion-location"></i> {{w[4]}}, {{w[3]}}</a>
                        <a class="subdued 3"  style="display: inline-block;"><i class="icon ion-android-time"></i>
                        <span class="timeago" title="{{w[9]}}">{{w[9]}}</span></a>
                    </p>
                </div>
                <div  ng-if="w[1] != data.myid" class="item tabs tabs-secondary tabs-icon-left">
                    
                    <a class="tab-item" ng-click="data.openChat(w[0])" >
                        <i class="icon ion-chatbubble-working"></i>Message
                    </a>
                    <a class="tab-item ink" ng-click="data.setOtherUser(w[1]);data.goto('/app/aboutuser');" >
                        <i class="icon ion-ios-information"></i>Profile
                    </a>
                </div>
            </div>





       <!--  </ion-scroll> -->
    </ion-content>
</ion-view>
